<% if user_signed_in? %>

  <h1>Davidsonville Jersey Tracking</h1>
  <% if current_user.has_strava? %>
    <h3>Greetings <%= current_user.name %>!</h3>
    <h2>Activity count <%= current_user.activities.count %></h2>
    <h2>Effort count <%= current_user.efforts.count %></h2>
    <h2>Unique Segments: <%= current_user.efforts.group(:segment_id).count.size %></h2>
  <% else %>
    <h2>Connect with Strava here:</h2>
    <h1><%= link_to 'Strava', strava_request_path %></h1>
  <% end %>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to the Davidsonville Jersey Tracker!</h1>

    <h2>
      This is the home page for Strava users who want to track their progress on the regular rides that leave out of Davidsonville.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>