<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @point.user %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @point.feature %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @point.effort %>
</p>

<p>
  <strong>Event:</strong>
  <%= @point.event %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
