<li>
  <h5 class="card-header"><strong><%= user.full_name %></strong></h5>
<div class="card user-card">
  
  
    <div class="user-card-row">
      <div class="card">
        <%= link_to profile_for(user, 'size' => 125), user %></br>
        <div class="view-strava">
          View <%= user.firstname %> on </br>
          <%= strava_for(user) %>
        </div>
      </div>
    </div>  
    <div class="user-card-row">
      Activties: <%= user.activities.size.to_s %></br>
      Efforts: <%= user.efforts.size.to_s %></br>
      Segments: <%= user.efforts.group(:strava_segment_id).count.size %></br>
      Points: <%= user.points.count.to_s %></br>
      KOM: <%= user.koms %></br>
      Sprint: <%= user.sprints %></br>
      <% if current_user != user %>
        Shared events: <%= current_user.shared_events user %>
      <% end %>
    </div>
    <div class="user-card-row">
      Recent Events:
      <ul>
        <% user.recent_results.each do |r| %>
          <li><%= r.start_date.strftime('%d %b %Y') %> Points: <%= r.total %></li>
        <% end %>
      </ul>
    </div>
    
</div>
</li>