<li>
<div class="card user-card">
  
    <div class="user-card-row">
      <div class="card">
        <%= link_to profile_for(user, 'size' => 125), user %></br>
        <strong><%= user.full_name %></strong>
        <div class="view-strava">
          View on </br>
          <%= strava_for(user) %>
        </div>
      </div>
    </div>  
    <div class="user-card-row">
      Activties: <%= user.activities.size.to_s %></br>
      Efforts: <%= user.efforts.size.to_s %></br>
      Segments: <%= user.efforts.group(:strava_segment_id).count.size %></br>
      Points: <%= user.points.count.to_s %></br>
      KOM: <%= user.koms %></br>
      Sprint: <%= user.sprints %></br>
    </div>
    <div class="user-card-row">
      Add recent event stats here
    </div>
    

</div>
</li>