<li>
<div class="card">
  <%= link_to profile_for(user, medium: false), user %>
  <div class="card-body">
      <%= user.full_name %></br>
    <div class="card-body">
      Activties: <%= user.activities.size.to_s %></br>
      Efforts: <%= user.efforts.size.to_s %></br>
      Segments: <%= user.efforts.group(:strava_segment_id).count.size %></br>
      Points: <%= user.points.count.to_s %></br>
      <%= render 'manage_form', user: user %>
    </div>
    <div>
      View on <%= strava_for(user) %>
    </div>
  </div>
</div>
</li>