<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.firstname %>
</p>
Manage for here:</br>
<%= render 'manage_form' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
