<% puts "Available_segments Parameters" %>
<% puts params.to_json %>
<div id="available-segments">
  <h3>Available Segments</h3>
  <input class="form-control" id="segment_search" type="text" width='200' placeholder="Search..">
  <table class='table table-sm table-hover' id='segment_table'>
    <thead>
      <th class="segment-name">Name</th>
      <th>Featured</th>	
      <th>Distance</th>
      <th>Elev. Gain</th>
      <th>Avg Grade</th>
      <th>Max Grade</th>
      <th>Points/Type</th>
    </thead>
    <% @segments.each do |segment| %>
      <tr class="feature-form-row">
        <td class="feature-form-row"><%= link_to segment.name, segment %></td>
        <td class="feature-form-row"><%= pluralize(segment.featured_by.size, "time") %></td>
        <td class="feature-form-row"><%= (segment.distance * 0.000621).round(1) %></td>
        <td class="feature-form-row"><%= segment.elevation_gain %></td>
        <td class="feature-form-row"><%= segment.average_grade %></td>
        <td class="feature-form-row"><%= segment.max_grade %></td>

        <td><%= render 'events/feature_form', segment: segment %></td>
      </tr>
    <% end %>
  </table>
</div>