<%= form_for(@event.participations.build) do |f| %>
  <div><%= link_to profile_for(user, 'size' => 100) %></div>
  <div class="form-reg"></div>
  <div><%= hidden_field_tag :user_id, user.id %></div>
  <div><%= hidden_field_tag :event_id, @event.id %></div>
  <%= f.submit "Unregistered", class: "btn btn-primaery btn-register" %>
<% end %>