<div class="unfeature-form">
  Points: <span class="badge badge-success">
    <%= @event.featured_segments.find_by(segment_id: segment.id).val %>
    </span>
  Category: <%= image_tag cat_icon(@event.featured_segments.find_by(segment_id: segment.id).category) %>
  <%= form_for(@event.featured_segments.find_by(segment_id: segment.id),
               html: { method: :delete },
               remote: true) do |f| %>
   <div><%= hidden_field_tag :segment_id, segment.id %></div>
   <div><%= hidden_field_tag :event_id, @event.id %></div>
    <%= f.submit "Remove", class: "btn btn-small btn-pop" %>
  <% end %>
</div>