<h1>Listing Events</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Start Date</th>
      <th>End Segment</th>
      <th>Participants</th>
      <th>Series</th>
      <th>Segments</th>
      <th>Efforts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= link_to event.owner.full_name, event.owner %></td>
        <% if event.start_date %>
          <td><%= Time.at(event.start_date).strftime('%a, %d %b')  %></td>
        <% else %>
          <td>Pending...</td>
        <% end %>
        <% if event.series %>
          <td><%= event.series.name %></td>
        <% else %>
          <td>None</td>
        <% end %>
        <% if event.segment %>
          <td><%= link_to event.segment.name, event.segment %></td>
        <% else %>
          <td>No Segment</td>
        <% end %>
        <td><%= event.connections.size.to_s %></td>
        <td><%= event.featuring.count %></td>
        <td><%= event.efforts.count %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create New Event From Scratch', new_event_path, {method: 'get', class: 'btn-success'} %>

<h3>Suggested Events</h3>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Participants</th>
      <th>Segments in common</th>
      <th></th>
    </tr>
  </thead>

    <% @alt_recommends.each do |day, athlete_sets| %>
      <% athlete_sets.each do |athletes, segments| %>
        <tr class="suggest-row">
          <td><%= day %></td>
          <td>
            <% athletes.each do |athlete| %>
              <div class="suggest-cell"><%= profile_for User.find_by(id: athlete), 'size' => 50 %></div>
            <% end %>
          </td>
          <td><%= segments.size.to_s %></td>
          <td><%= button_to "Create this event!", recommend_create_path, 
              method: :get, params: { start_date: day, athletes: athletes.to_json } %></td>
        </tr>
      <% end %>
    <% end %>
</table>