<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Segment</th>
      <th>Activities</th>
      <th>Efforts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <% if event.start_date %>
          <td><%= Time.at(event.start_date).strftime('%a, %d %b, %H:%M:%S') %></td>
        <% else %>
          <td>Pending...</td>
        <% end %>
        <td><%= event.segment %></td>
        <td><%= event.activities.count %></td>
        <td><%= event.efforts.count %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
