<p>
  <h1><%= @event.name %></h1>
  <h2>Managed by: <%= @event.owner.full_name %></h2>
  <% if @event.start_date %>
    <h2>Official Start Time:
    <%= @event.start_date.strftime('%a, %d %b, %H:%M:%S') %>
  <% else %>
    Official Start Time Pending...
  <% end %></h2>
</p>

<strong>Team:</strong></br>

<% if @team.size == 0 %>
  Looks like you're not managing anyone yet. You should try heading to the 
  <%= link_to "Users' Page", users_path %>.  from there, click on some 
  profiles and start building your team.
<% else %>

  <table>
    <tr>
      <% @team.each do |user| %>
        <td><%= render 'participant_form', user: user %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<div>
  <strong>Points assigned:</strong>
  <table class="table table-hover table-striped">
    <thead>
      <th>Athlete</th>
      <th>Segment</th>
      <th>Points</th>
    </thead>
      <% @points.each do |pt| %>
        <tr>
        <td><%= User.find_by(id: pt.user_id).full_name %></td>
        <td><%= Segment.find_by(id: pt.effort.segment.id).name %></td>
        <td>1</td>
        </tr>
      <% end %>
    
  </table>
</div>
<% if @table %>
  <p>
    <strong>Segment Completion Times</strong></br>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <% @table[0].each do |cell| %>
            <th><%= cell %></th>
            <% end %>
        </tr>
      </thead>
      <% @table[1, @table.size-1].each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <% if cell.is_a? Numeric %>
            <td><%= Time.at(cell).strftime('%H:%M:%S') %></td>
          <% else %>
            <td><%= cell %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
      
    </table>
  </p>
<% else %>
  <strong>Add some athletes or segments to create the results table!</strong>
<% end %>
<p>
  <strong>Available Activities:</strong></br> 
  <% if @activities.size == 0 %>
    No activities are included currently.
  <% else %>
    <% @activities.each do |activity| %><br> 
      <%= activity.user.full_name %> -> <%= link_to activity.name, activity %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Featured Segments <span class='badge'><%= @features.size %></span></strong></br>
  <% if @features.size == 0 %>
    No segments are currently featured.
  <% else %>
    <table  class="panel panel-default">
    <% @features.each do |segment| %>
      <tr>
      <td><%= link_to segment.name, segment %></td>
      <td><%= render 'feature_form', segment: segment %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</p>

<!--/// Need to add athlete name to each activity in parens or something.///-->


<p>

  <strong>Available Segments <span class='badge'> <%= @segments.size %></span></strong></br>
  
  <div id='segment_table' class='collapse in'>
  <% if @segments.size == 0 %>
    No activities are included currently.
  <% else %>
    <input class="form-control" id="segment_search" type="text" width='200' placeholder="Search..">

    <table class="panel panel-default">
    <% @segments.each do |segment| %>
      <tr>
      <td><%= link_to segment.name, segment %></td>
      <td><%= render 'feature_form', segment: segment %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>