<p>
  <h1><%= @event.name %></h1>
  <h2>Managed by: <%= @event.owner.full_name %></h2>
  <% if @event.start_date %>
    <h2>Official Start Time:
    <%= @event.start_date.strftime('%a, %d %b, %H:%M:%S') %>
  <% else %>
    Official Start Time Pending...
  <% end %></h2>
</p>

<div class='card'>
  <div class='card-header'><h3>Event Scoring</h3></div>
  <div class='card-text' id='eventScoring'>
    <table class="table table-sm table-hover table-striped">
      <thead>
        <th scope='col'>Athlete</th>
        <th>KOM</th>
        <th>Sprint</th>
        <th scope='col'>Points</th>
      </thead>
        <% @points.each do |k, v| %>
          <tr>
          <td scope='row'><%= k %></td>
          <td scope='row'><%= v[:kom] %></td>
          <td scope='row'><%= v[:sprint] %></td>
          <td scope='row'><%= v[:total] %></td>
          </tr>
        <% end %>
    </table>
  </div>
  <div class='card'>
    <% if @table %>
      <div class='card-header'><h3>Segment Times</h3></div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <% @table[0].each do |cell| %>
                <th><%= cell %></th>
                <% end %>
            </tr>
          </thead>
          <% @table[1, @table.size-1].each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <% if cell.is_a? Hash %>
                <td><%= Time.at(cell[:time]).strftime('%H:%M:%S') %>
                <% if cell[:trophy] > 0 %>
                  <%= show_trophy cell[:trophy] %>
                <% end %>  
                  </td>
              <% else %>
                <td><%= cell %></td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      <strong>Add some athletes or segments to create the results table!</strong>
    <% end %>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Featured Segments

    </div>
    <div id="featuredSegments" class="panel-body">
      <table class='table table-sm'>
        <% @features.each do |feature| %>
          <tr>
            <td><%= feature.segment.name %></td>
            <td>Points: <%= feature.val %></td>
            <td>Type: <%= image_tag cat_icon(feature.category) %></td>
            <td><%= render 'feature_form', segment: feature.segment %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Event Builder
      <a href="#" id="eventBuilder" class="btn btn-primary right">
      Show/Hide
      </a></h3>
    </div>
    <div id="eventBuilder" class="panel-body">
      <h3>Available Activities</h3>
      <table class='table table-sm'>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= profile_for(User.find_by(id: activity.user_id), 'size' => 100) %></td>
              <td><%= static_map activity.summary_polyline %></td>
              <td><%= activity.name %></td>
              <td>Distance: <%= (activity.distance * 0.000621).round(1) %></td>
              <td>Efforts: <%= activity.efforts.size %></td>
              <td><%= render 'connect_form', activity: activity %></td>
            </tr>
          <% end %>
      </table>
      <h3>Available Segments</h3>
      <table class='table table-sm'>

        <% @segments.each do |segment| %>
          <tr>
            <td><%= segment.name %></td>
            <td><%= static_map segment.polyline %></td>
            <td>Distance: <%= (segment.distance * 0.000621).round(1) %></br>
                Elevation Gain: <%= segment.elevation_gain %></br>
                Average Grade: <%= segment.average_grade %></br>
                Max Grade: <%= segment.max_grade %></td>
            <td><%= render 'feature_form', segment: segment %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>