<p id="notice"><%= notice %></p>

<p>
  <h1><%= @event.name %></h1>
  <h2>Managed by: <%= @event.manager.full_name %></h2>
  <h2>Date:
  <% if @event.start_date %>
     <%= Time.at(@event.start_date).strftime('%H:%M:%S') %></br>
  <% else %>
    Pending...
  <% end %></h2>
</p>
<p>
  <strong>Participants:</strong>
  <% if @participant_ids.size == 0 %>
    Looks like no one is participating yet...
  <% else %>
    <%= @participant_ids.size.to_s %>
  <% end %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @event.activities.count.to_s %>
</p>
  
<p>
  Tracks:</br>
  <% @tracks.each do |track| %>
    <%= track.name %></br>
    <% track.efforts.each do |effort| %>
      -----------------</br>
      <%= Segment.find_by(strava_id: effort.segment_id).name %>:
      <%= Time.at(effort.start_date + effort.elapsed_time).strftime('%H:%M:%S') %></br>
    <% end %>
  
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>