<p>
  <h1><%= @event.name %></h1>
  <% if @event.start_date %>
    <h2>Official Start Time:
    <%= @event.start_date.strftime('%a, %d %b, %H:%M:%S') %>
  <% else %>
    Official Start Time Pending...
  <% end %></h2>
  <h2>Series:
  <% if @event.series %>
    <%= @event.series.name %>
  <% else %>
    "Ad Hoc"
  <% end %></h2>
</p>
<a href="#" id="edit-toggle" class="btn btn-primary right btn-pop">
Toggle</br>
Results/Edit
</a>
<div class="show-edit-event">
  <div id="show-event">
    <div class='card'>
      <div class='card-header'><h3>Event Scoring</h3></div>
      <div class='card-text' id='eventScoring'>
        <table class="table table-sm table-hover table-striped">
          <thead>
            <th>Place</th>
            <th scope='col'>Athlete</th>
            <th>KOM</th>
            <th>Sprint</th>
            <th scope='col'>Points</th>
          </thead>
            <% @results.each do |r| %>
              <tr>
                <td scope='row'><%= r[:place] %></td>
                <td scope='row'><%= link_to r.user.full_name, r.user %></td>
                <td scope='row'><%= r[:kom] %></td>
                <td scope='row'><%= r[:sprint] %></td>
                <td scope='row'><%= r[:total] %></td>
              </tr>
            <% end %>
        </table>
      </div>
      <div class='card'>
        <% if @table %>
          <div class='card-header'><h3>Segment Times</h3></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <% @table[0].each do |cell| %>
                    <th><%= cell %></th>
                    <% end %>
                </tr>
              </thead>
              <% @table[1, @table.size-1].each do |row| %>
              <tr>
                <% row.each do |cell| %>
                  <% if cell.is_a? Hash %>
                    <td class="segment-result-table-cell"><%= Time.at(cell[:time]).strftime('%H:%M:%S') %>
                    <% if cell[:trophy] > 0 %>
                      <%= show_trophy cell[:trophy] %>
                    <% end %>  
                      </td>
                  <% else %>
                    <td class="segment-result-table-cell"><%= cell %></td>
                  <% end %>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
        <% else %>
          <strong>Add some athletes or segments to create the results table!</strong>
        <% end %>
      </div>
    </div>
  </div>
  <div id="edit-event" style="display: none;">
    
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Event Builder</h3>
      </div>
      <div id="eventBuilder" class="panel-body">
        <h3>Available Activities</h3>
        <table class='table table-sm'>
            <% @activities.each do |activity| %>
              <tr>
                <td><%= render 'activities/map_card', activity: activity %></td>
                <td><%= activity.name %></td>
                <td>Distance: <%= (activity.distance * 0.000621).round(1) %></td>
                <td>Efforts: <%= activity.efforts.size %></td>
                <td><%= render 'connect_form', activity: activity %></td>
              </tr>
            <% end %>
        </table>
        <%= render 'events/available_segments' %>
      </div>
    </div>
  </div>
</div>