<p id="notice"><%= notice %></p>

<p>
  <h1><%= @event.name %></h1>
  <h2>Managed by: <%= @event.owner.full_name %></h2>
  <% if @event.start_date %>
    <h2>Official Start Time:
    <%= @event.start_date.strftime('%a, %d %b, %H:%M:%S') %>
  <% else %>
    Official Start Time Pending...
  <% end %></h2>
</p>
<div class="panel panel-default">
  <strong>Participants:</strong></br>
  <div class="panel-body">
  <% if @participant_ids.size == 0 %>
    Looks like no one is participating yet...
  <% else %>
    <% @participants.each do |user| %>
    <td>
      <%= link_to profile_for(user), user %>
    </td>
    <% end %>
  <% end %>
  </div>
</div>
</br>
<p>
  <strong>Featured Segments:</strong></br>
  <% if @features.size == 0 %>
    No segments are currently featured.
  <% else %>
    <% @features.each do |segment| %>
      <%= segment.name %> @ <%= segment.average_grade %>%</br>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Table (in progress)</strong></br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <% @table[0].each do |cell| %>
          <th><%= cell %></th>
          <% end %>
      </tr>
    </thead>
    <% @table[1,@table.size-1].each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <% if cell.is_a? Numeric %>
          <td><%= Time.at(cell).strftime('%H:%M:%S') %></td>
        <% else %>
          <td><%= cell %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    
  </table>
</p>

<!--/// Need to add athlete name to each activity in parens or something.///-->
<p>
  <strong>Available Activities:</strong></br> 
  <% if @activities.size == 0 %>
    No activities are included currently.
  <% else %>
    <% @activities.each do |activity| %><br> 
      <%= activity.user.full_name %> -> <%= link_to activity.name, activity %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Available Segments:</strong></br>
  <% if @segments.size == 0 %>
    No activities are included currently.
  <% else %>
    <% @segments.each do |segment| %>
      <%= link_to segment.name, segment %></br>
      
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>