<p id="notice"><%= notice %></p>

<h1>Listing Segments</h1>

<%= will_paginate %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Events</th>
      <th>Points</th>
      <th>Climb Category</th>
      <th>Max Grade</th>
      <th>Average Grade</th>
      <th>Star Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @segments.each do |segment| %>
      <tr>
        <td><%= link_to segment.name, segment %></td>
        <td><%= segment.featured_by.size %></td>
        <td><%= segment.points %></td>
        <td><%= segment.climb_category %></td>
        <td><%= segment.max_grade %></td>
        <td><%= segment.average_grade %></td>
        <td><%= segment.star_count %></td>
        <td><%= link_to 'Edit', edit_segment_path(segment) %></td>
        <td><%= strava_for_segment segment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to 'New Segment', new_segment_path %>
