<p id="notice"><%= notice %></p>

<p>
  <strong>Points:</strong>
  Points: <%= @segment.points %></br>
  Strava Id: <%= @segment.strava_id %><br>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
