<p id="notice"><%= notice %></p>

<p>
  <strong>Efforts:</strong> <%= @efforts %></br>
  <strong>Strava Id:</strong> <%= @segment.strava_id %></br>
  <strong>Distance:</strong> <%= @segment.distance %></br>
  <strong>Elevation:</strong> <%= @segment.elevation_gain %></br>
  <strong>Max Grade:</strong> <%= @segment.max_grade %></br>
  <strong>Avg Grade:</strong> <%= @segment.average_grade %> </br>
  Featured in <%= pluralize(@featured, 'event') %>.</br>
  View on <%= strava_for_segment @segment %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
