<%= form_for(@effort) do |f| %>
  <% if @effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effort.errors.count, "error") %> prohibited this effort from being saved:</h2>

      <ul>
      <% @effort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :segment_id %><br>
    <%= f.text_field :segment_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :elapsed_time %><br>
    <%= f.text_field :elapsed_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
