<p id="notice"><%= notice %></p>

<h1>Efforts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Segment</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>Elapsed Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @efforts.each do |effort| %>
      <tr>
        <td><%= link_to profile_for(effort.user), effort.user %></td>
        
        <td><%= link_to effort.segment.name, effort.segment %></td>
        <td><%= Time.at(effort.start_date).strftime('%a, %d %b %Y') %></td>
        <td><%= Time.at(effort.start_date).strftime("%H:%M:%S") %></td>
        <td><%= Time.at(effort.elapsed_time).strftime("%M:%S") %></td>
        <td><%= link_to 'Show', effort %></td>
        <td><%= link_to 'Edit', edit_effort_path(effort) %></td>
        <td><%= link_to 'Destroy', effort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Effort', new_effort_path %>
