<% if user_signed_in? %>
  <p>
    <strong>Strava:</strong>
    <%= @activity.strava_id %>
  </p>
  
  <p>
    <%= profile_for @activity.user, 'size' => 125 %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @activity.name %>
  </p>
  
  <p>
    <strong>Distance:</strong>
    <%= @activity.distance * 0.000621 %>
  </p>
  
  <p>
    <strong>Start date:</strong>
    <%= @activity.start_date %>
  </p>
  
  <p>
    <strong>Trainer:</strong>
    <%= @activity.trainer %>
  </p>
  
    <p>
    <%= strava_for_activity (@activity) %>
  </p>
  
  <%= link_to 'Edit', edit_activity_path(@activity) %> |
  <%= link_to 'Back', activities_path %>
<% end %>