<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
      <% if current_user.avatar %>
        <%= image_tag current_user.avatar %>
        <%= link_to "Home", root_path %>
        <%= link_to "Users", users_path %>
      <% else %>
        <%= link_to current_user.name, root_path %>
      <% end %>
    <% else %>
      <%= link_to "Log in!", root_path, id: "logo" %>
    <% end %>
  </div>
</header>